//garantie-contact
.garantie-contact {
  background-color: $drkyello-bg;
  @include full-width;
  padding: 56px 0;
  // garantie-section
  .garantie-section h2{
    margin-top: 5px;
  }
}

// garantie-section, sm-heading
.garantie-section span, .sm-heading{
  font-size: 16px;
  @include cabin(bold);
  font-style: italic;
  color: $navy-color;
  display: block;
}

//garantie-section
.garantie-section {
  h2 {
    font-size: 37.6px;
    font-weight: 500;
    line-height: 1.25;
    color: $blueclr;
    margin-top: 0;
    margin-bottom: 2px;
    letter-spacing: 1.2px;
    @include cabin(bold);
    font-style: italic;
    text-transform: uppercase;
    @include custom-max(991) {
      font-size: 33px;
    }
    @include custom-max(767) {
      font-size: 26px;
    }
    @include custom-max(479) {
      font-size: 22px;
    }
    @include custom-max(300) {
      font-size: 20px;
    }
  }

  //title-borderbottom
  .title-borderbottom {
    width: 100px;
    height: 4px;
    border-radius: 2px;
    display: inline-block;
    background-color: $navy-color;
  }
}

// garantie-section
.garantie-section {
  width: 100%;
  float: left;
}

//contact-background
.contact-background {
  background-color: $blueclr;
  @include full-width;
  padding: 52px 0;

  .wpcf7-not-valid-tip{
    background: rgba(255, 255, 255, 0.5);
    padding: 2px 10px;
    margin-top: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  }
}


//contact-form
.contact-form {
  width: 100%;
  max-width: 581px;
  margin: 0 auto;
  padding: 0 15px;
  //form-group
  .form-group {
    margin-bottom: 16px;
    font-size: 0;
    @include full-width;

    //textarea
    textarea.form-control {
      height: 97px;
      resize: none;
      width: 100%;
      padding-top: 19px;
      @include mq(max, 479) {
        padding-top: 9px;
      }
    }

    // select
    .form-control, select, select option{
      padding-left: 22px;
      padding-right: 22px;
      font-size: 17.6px;
      @include cabin(bold);
      line-height: 1.2;
      height: 49px;
      @include mq(max, 545){
        white-space: pre-line;
      }
      @include mq(max, 479) {
        padding-left: 12px;
        padding-right: 12px;
      }
      @include mq(max, 360) {
        font-size: 15px;
      }
      @include mq(max, 318) {
        font-size: 13px;
      }
      @include mq(max, 300) {
        font-size: 12px;
      }
    }

    //form-control
    .form-control {
      display: block;
      color: $gray;
      background-color: $white;
      background-clip: padding-box;
      border-radius: 0;
      border: none;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    //select
    select {
      background-color: $yello-bg;
      width: 100%;
      max-width: 386px;
      border: none;
      border-radius: 0;
      background-image: url("#{$imageUrl}/select-arrow.png");
      background-repeat: no-repeat;
      background-position: 93.8% 52%;
      background-size: auto;
      margin-bottom: 25px;
      padding-right: 56px;
      color: $black;
      @include mq(max, 767){
        max-width: inherit;
      }
      @include mq(max, 581){
        background-position: 96% 52%;
      }
      @include mq(max, 479) {
        background-position: 97% 52%;
        background-size: 18px;
        padding-right: 35px;
      }
      option:hover{
        background: #26a0da;
        color: $white;
      }
      &:focus>option:checked::-ms-value, &:focus::-ms-value{
        background: $yello-bg;
        color: $black;
      }
    }

    //label
    label {
      font-size: 17.6px;
      @include cabin(bold);
      color: $white;
      padding-right: 11px;
      @include mq(max, 767){
        text-align: left;
        width: 100%;
      }
      @include mq(max, 360){
        font-size: 15px;
      }
    }

    &.select-space {
      padding-top: 17px;
    }

    &.valider {
      padding-top: 20px;
    }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $gray;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    color: $gray;
  }

  :-ms-input-placeholder { /* IE 10+ */
    color: $gray;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $gray;
  }
}

//valider-button
.valider-button {
  @include full-width;
  margin-top: 30px;
  [type="submit"] {
    letter-spacing: 1px;
  }
}

//yello-box
.yello-box {
  position: relative;
  max-width: 641px !important;
  //form-group
  .form-group {
    counter-increment: item;
    position: relative;
    padding-left: 60px;
    @include mq(max, 319) {
      padding-left: 50px;
    }
    &:before {
      left: 0px;
      font-size: 22.4px;
      @include cabin(bold);
      font-style: italic;
      margin-right: 10px;
      content: counter(item) ".";
      color: #492e88;
      text-align: center;
      display: inline-block;
      position: absolute;
      width: 47px;
      background: #ffea59;
      height: 47px;
      border-radius: 100%;
      line-height: 47px;
      text-indent: 2px;
      @include mq(max, 319) {
        width: 40px;
        height: 40px;
        font-size: 17px;
        line-height: 40px;
      }
    }
  }
}

//bottom-bg
.bottom-bg {
  background-color: $navy-color;
  padding: 32px 0;
  @include full-width;
}

// champs-right
.champs-right {
  text-align: right;
  font-size: 16px;
  font-family: 'Cabin';
  font-weight: bold;
  font-style: normal;
  color: #fff;
  margin-bottom: 20px;
}

// wpcf7-not-valid-tip
select#souhaite + .wpcf7-not-valid-tip {
  text-align: right;
  float: right;
  @include mq(max, 767) {
    float: left;
  }
}

//mb-15
.mb-15{
  margin-bottom: 15px;
}

// brief-2
.brief-2 {
  display: none;
}
