//header-area
.header-area {
  @include full-width;
  background-color: $white;
}

//head-contact
.head-contact{
  padding-top: 2px;

  @include mq(max, 767){
    text-align: center;
  }

  ul{
    li{
      display: inline-block;
      margin: 5px 10px;
      letter-spacing: -0.4px;

      @include mq(max, 991){
        letter-spacing: 0;
      }

      a{
        color: $navy-color;

        i.fa-phone{
          margin-right: 2px;
        }
        i.fa-envelope{
          margin-right: 4px;
        }
      }
    }
  }

  //navbar-collapse
  .navbar-collapse {
    @include mq(max, 767){
      background: #ffea59;
      overflow: hidden;
      text-align: center;
      margin-top: 5px;



    }
  }
}

//navbar-yeesss
.navbar-yeesss {
  margin: 0;

  //navbar-collapse
  .navbar-collapse{
    padding: 0;
  }

  //ul
  ul{
    li{
      color: $navy-color;

      @include mq(min, 768){
        height: 83px;
        display: table;
      }

      a{
        padding: 0 15px;
        color: $navy-color;
        text-transform: uppercase;

        &:hover, &:active, &:focus{
          background: transparent;
          color: $black;
        }

        @include mq(max, 991){
          padding: 0 12px;
        }
        @include mq(min, 768){
          display: table-cell;
          vertical-align: middle;
          letter-spacing: -0.4px;
        }

        @include mq(max, 767){
          padding: 10px;
          color: $navy-color;
          font-weight: 500;
          margin-bottom: 8px;

          &:hover{
            background: $navy-color;
            color: $white;
          }
        }
      }
    }
  }

  //navbar-toggle
  button.navbar-toggle {
    background: transparent;
    margin: 0;
    top: 21px;

    span {
      background: $navy-color;
    }
  }
}


// header-contact
.header-contact {
  @include full-width;
  background-color: $drkyello-bg;
  padding: 5px 0;
  min-height: 45px;
}

// header-wrap
.header-wrap{
  width: 100%;
  float: left;

  @include mq(max,767){
    width: 50%;
  }
}

// header-wrapper
.header-wrapper{
  @include full-width;
  padding: 8.5px 0;
  /*@include custom-max(767){
    text-align: center;
  }*/

  // logo-top
  .logo-top{
    img{
      width: 95px;
    }
  }
}



