// responsive variables
$i-pad-width: 991px;
$mobile-lg: 767px;
$mobile-md: 639px;
$mobile-md-500: 500px;
$mobile-sm: 479px;
$mobile-sm-359: 359px;
$mobile-sm-349: 349px;
$mobile-xs: 319px;

//min-max-query
@mixin min-max($min,$max) {
  @media screen and (min-width: $min + px) and (max-width: $max + px) {
    @content;
  }
}

//custom-media query
@mixin mq($screen, $custom) {
  @if $screen == 'min' {
    @media (min-width: $custom + px) {
      @content;
    }
  } @else if $screen == 'max' {
    @media (max-width: $custom + px) {
      @content;
    }
  }
}

/*---- minmax-480 ----*/
@mixin minmax-767 {
  @media (max-width: 991px) and (min-width: 767px) {
    @content;
  }
}

@mixin custom-max($size) {
  @media (max-width: $size + px) {
    @content;
  }
}

/*---- i-pad ----*/
@mixin i-pad {
  @media (max-width: #{$i-pad-width}) {
    @content;
  }
}

/*---- minmax-480 ----*/
@mixin minmax-480 {
  @media (max-width: 767px) and (min-width: 480px) {
    @content;
  }
}

/*---- mobile-lg ----*/
@mixin mobile-lg {
  @media (max-width: #{$mobile-lg}) {
    @content;
  }
}

/*---- mobile-md ----*/
@mixin mobile-md {
  @media (max-width: #{$mobile-md}) {
    @content;
  }
}

/*---- mobile-500 ----*/
@mixin mobile-500 {
  @media (max-width: #{$mobile-md-500}) {
    @content;
  }
}

/*---- mobile-sm ----*/
@mixin mobile-sm {
  @media (max-width: #{$mobile-sm}) {
    @content;
  }
}

/*---- mobile-xs-349 ----*/
@mixin mobile-xs-349 {
  @media (max-width: #{$mobile-sm-349}) {
    @content;
  }
}

/*---- mobile-xs-349 ----*/
@mixin mobile-xs-359 {
  @media (max-width: #{$mobile-sm-359}) {
    @content;
  }
}


/*---- mobile-xs ----*/
@mixin mobile-xs {
  @media (max-width: #{$mobile-xs}) {
    @content;
  }
}


/*---- only-ie ----*/
@mixin only-ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
  @media screen\0 {
    @content;
  }
  @-moz-document url-prefix() {
    @content;
  }
}


//css3-propertisc all browser support
@mixin css3($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

//@include css3(transition, 0.5s);

// box-shadow
@mixin box-shadow($shadowval) {
  box-shadow: $shadowval;
  -webkit-box-shadow: $shadowval;
  -ms-box-shadow: $shadowval;
  -moz-box-shadow: $shadowval;
  -o-box-shadow: $shadowval;
}

// box-shadow
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
}

// gradient-linear
@mixin gradient-linear($clr, $nxtclr) {
  background: $clr; /* Old browsers */
  background: -moz-linear-gradient(top, #{$clr} 0%, #{$nxtclr} 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #{$clr} 0%, #{$nxtclr} 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #{$clr} 0%, #{$nxtclr} 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$clr}', endColorstr='#{$nxtclr}', GradientType=0); /* IE6-9 */
}

// text-shadow
@mixin text-shadow($txtshadow) {
  text-shadow: $txtshadow;
  -webkit-text-shadow: $txtshadow;
  -ms-text-shadow: $txtshadow;
  -moz-text-shadow: $txtshadow;
  -o-text-shadow: $txtshadow;
}

// background size
@mixin bg-cover($cover) {
  -moz-background-size: $cover;
  -o-background-size: $cover;
  -ms-background-size: $cover;
  -webkit-background-size: $cover;
  background-size: $cover;
}

// transition
@mixin transition($transition) {
  transition: $transition;
  -webkit-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
}

// @include transition(all 1s); <- how to use this mixin

// generic transform property
// transform-origin
@mixin transform-origin($origin) {
  transform-origin: $origin;
  -webkit-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -o-transform-origin: $origin;
}

// transform
@mixin transform($transforms) {
  transform: $transforms;
  -webkit-transform: $transforms;
  -ms-transform: $transforms;
  -moz-transform: $transforms;
  -o-transform: $transforms;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// @include rotate(45); <- how to use this mixin

// skew
@mixin skewy($degval) {
  @include transform(skewy(#{$degval}deg));
}

// @include skewy(5); <- how to use this mixin

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// @include scale(2); <- how to use this mixin

// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// @include translate(50px,0px); <- how to use this mixin

// full-width
@mixin full-width {
  position: relative;
  width: 100%;
  float: left;
}

//img-url-extantion
@mixin imgurl($img, $extension) {
  background-image: url('../images/' + $img + '.' + $extension);
}

//Cabin font
@mixin cabin($type) {
  @if $type == 'normal' {
    font-weight: normal;
    font-style: normal;
    font-family: 'Cabin';

  } @else if $type == 'bold' {
    font-family: 'Cabin';
    font-weight: bold;
    font-style: normal;

  } @else if $type == 'light' {
    font-family: 'Cabin';
    font-weight: 300;
    font-style: normal;
  } @else {
    font-family: 'Cabin';
  }
}

// full-w
.full-w {
  width: 100%;
  float: left;
}


// ripple
.ripple {
  overflow: hidden;
  position: relative;
}

// ripple-effect
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  animation: ripple-animation 2s;
}

@keyframes ripple-animation {
  from {
    transform: scale(1);
    background: rgba(255, 255, 255, 0.3);
  }
  to {
    transform: scale(100);
    background: rgba(255, 255, 255, 0.0);
  }
}


// btn-site
.btn-site {
  font-size: 25.6px;
  background: $yello-bg;
  text-align: center;
  @include cabin('bold');
  font-style: italic;
  @include border-radius(200px);
  border: none;
  padding: 9.5px 30px;
  min-width: 360px;
  letter-spacing: 0.4px;
  line-height: normal;
  @include transition(all 0.3s);
  text-transform: uppercase;
   &:hover, &:focus, &:visited {
    background: darken($yello-bg, 5);
  }
  @include mq(max, 991) {
    font-size: 22px;
    padding: 12px 30px;
    display: inline-block;
    min-width: auto;
    width: auto;
  }
  @include custom-max(767){
    font-size: 18px;
  }
  @include custom-max(479){
    font-size: 16px;
  }
  @include custom-max(400){
    font-size: 14px;
  }
  // visited
  &, &:active, &:focus, &:visited {
    color: $navy-color;
  }
}

// verticle-block
.verticle-block {
  display: table;
  height: 100%;
  width: 100%;
}

// verticle-cell
.verticle-cell {
  vertical-align: middle;
  display: table-cell;
}

// ripple
.ripple {
  overflow: hidden;
  position: relative;
}

// ripple-effect
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  @include css3(animation, ripple-animation 2s);
}

@keyframes ripple-animation {
  from {
    @include transform(scale(1));
    background: rgba(0, 0, 0, 0.05);
  }
  to {
    @include transform(scale(100));
    background: rgba(0, 0, 0, 0.05);
  }
}

// wpcf7-not-valid-tip
.wpcf7-not-valid-tip {
  display: block;
  float: left;
  font-size: 14px;
  color: white;
  padding-top: 6px;
}

// wpcf7-validation-errors
.wpcf7-validation-errors {
  width: 100%;
  float: left;
}

// screen-reader-response
.screen-reader-response,
.wpcf7-response-output {
  display: none;
}

