// Black color
$black: #000000;
// gray Color
$gray: #b8b8b8;
// light gray Color
$l-gray: #dddddd;
// white Color
$white: #fff;
//yello
$yello-bg:#ffff46;
// drkyello-bg
$drkyello-bg:#ffea59;
//navy
$navy-color:#492e88;
//blueclr
$blueclr:#46b6ff;
// pinkclr
$pinkclr:#ff3ddd;
//snow-dark
$snow-dark:#f9f9f9;


//Image path
$imageUrl: '../images';
//$ontUrl path
$fontUrl: '../vendor/fonts';


