// bootstrap
@import "bootstrap";
// variable
@import "variable";
// Mixins
@import "mixins";

//font-cabin
@font-face {
  font-family: 'Cabin';
  src: url('#{$fontUrl}/Cabin-Bold.woff2') format('woff2'),
  url('#{$fontUrl}/Cabin-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Cabin';
  src: url('#{$fontUrl}/Cabin-Italic.woff2') format('woff2'),
  url('#{$fontUrl}/Cabin-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Cabin';
  src: url('#{$fontUrl}/Cabin-Regular.woff2') format('woff2'),
  url('#{$fontUrl}/Cabin-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cabin';
  src: url('#{$fontUrl}/Cabin-Medium.woff2') format('woff2'),
  url('#{$fontUrl}/Cabin-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}



/*img*/
img {
  max-width: 100%;
  height: auto;
}

/*appearance none*/
select, textarea, button {
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: none;
}

select {
  cursor: pointer;
}

// default
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*a link*/
a, a:focus, a:hover {
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*select*/
select::-ms-expand {
  display: none;
}

// type="number"
[type="number"]{
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  // -webkit-outer-spin-button
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    //display: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    margin: 0;
  }
}

/*container*/
.container {
  @include mq(min,992){
    width: 94%;
  }
  @include mq(min,1210){
    width: 1175px;
  }
}

/*body*/
body {
  background-color: $white;
  color: #000;
  font-size: 14px;
  font-kerning: none;
  @include cabin('normal');
}

/*body, html*/
body, html {
  height: 100%;
  margin: 0;
}

/*webkit-scrollbar*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: $navy-color;
  border-radius: 80px;
}

::-webkit-scrollbar-track {
  @include box-shadow(inset 0 0 6px rgba(0,0,0,0.3));
  background-color: #F5F5F5;
}

// For Internet Explorer
body {
    scrollbar-face-color: $navy-color;;
    scrollbar-track-color: #F5F5F5;
}

// import scss files
// header
@import "header";
// home
@import "home";
// footer
@import "footer";
//conact
@import "contact";
//site-offers
@import "site-offers";
